*.pyc
*.swp
*.gif
*.pdf
*.png
*.nc
*.avi
*.mp4
*.so
*.nfs*
build/*
#core.*
build/*
doc/_build/*
#doc/jupyter/*
dist/*
*__pycache__*
resources/*
*.egg-info*
*.egg-info/
*.egg-info/*
*.ipynb_checkpoints*
.vscode
*~